body {
    background: lightskyblue;
}

#container {
    background: white;
    border: 2px solid gray;
    width: 360px;
    margin: 0 auto;
}

.correct {
    color: green;
}

.wrong {
    color: red;
    background: pink;
}

.done {
    color: gray;
    text-decoration: line-through;
}